html, body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}


/* navigation*/

.navigation {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #5C5552;
}

.nav-img{
    align-self: center;
    margin-right: 50%;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-elem{
    padding: 0px 20px;
}

 a{
    text-decoration: none;
    color: white;
}

/* content */


.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #F7F0F5;
}

.main-img{
    height: 100%;
    width: 100%;
    min-height: 900px;
    background-image: url('/static/images/main-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.section{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 500px;
}


#section-1{
    height: 100%;
    background-color: #DECBB7;

}

#section-2{
    background-color: #8F857D;

}

#section-3{
    background-color: #DECBB7;

}

#section-4{
    background-color: #8F857D;

}

/* menu */

.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 500px;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: #433633;
    padding: 2% 0;

}


.footer-container{
    display: flex;
    width: 70%;
    height: 100%;
    margin: 0;
    /* margin: 0 5% 5% 5%; */
    justify-content: center;
}

/* .footer-contact:first-child{
    background-color: gray;
} */

.footer-contact{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 3% 0 3%; */


}

.footer-contact p{
    width: 170%;
    text-align: center;
    height: 100%;
    margin: 0;


}


/*contact*/

.contact-container{
    height: 50%;
    width: 60%;
    background-color: #DECBB7;
    display: flex;
}

.contact-container div{
    width: 50%;
}

.contact-container div iframe {
    width: 100%;
    height: 100%;
}

.contact-data{
    margin: 10%;
}

.contact-text{
    margin:0px;
}