<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for("static", filename="css/styles.css")}}>
    <title>Document</title>
</head>
<body>

        <div class="main-container">
            {% include "menu.html" %}
            <h1>Welcome to pizzeria</h1>
  
            <div class="section" id="section-1">
                <h1>Sekcja1</h1>
            </div>

            <div class="section" id="section-2">
                <h1>Sekcja2</h1>
            </div>

            <div class="section" id="section-3">
                <h1>Sekcja3</h1>
            </div>

            <div class="section" id="section-4">
                <h1>Sekcja4</h1>

            </div>
            {% include "footer.html" %}
        </div>

</body>
</html>