{% extends "base.html" %}

{% block content%}
    <div class="contact-container">
        <div>

            <div class="contact-data">
                <p class="contact-text">
                    Pizzeria
                </p>
                <p class="contact-text">
                    ul. Krępiecka 3 <br> <br> Świdnik 21-040
                </p>
            </div>

            <div class="contact-data">
                <p class="contact-text">Telefon: 111 111 111</p>
                <p class="contact-text">E-mail: pizzeria@poczta.com</p>
            </div>

            <div class="contact-data">
                <p class="contact-text">Godziny otwarcia</p>
                <p class="contact-text">dropdown</p>
            </div>

        </div>
        <div class="map">
            <iframe src="https://www.google.com" frameborder="0"></iframe>
            <!-- <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBZEvwcgAr3C0vAq75h5GN06LeuNx_bmmU&amp;q=!1m16!1m12!1m3!1d991.6805145072566!2d22.68854779701582!3d51.22131703143684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgoogle%20maps!5e0!3m2!1spl!2spl!4v1655134209385!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      -->
         </div>
    </div>
{% endblock%}