<footer>
    <div class="footer-container">
        <div class="footer-contact">
            <p>Zamówienia telefoniczne:</p>
            <p> 111 111 111</p>
        </div>
        <div class="footer-contact">
            <p>Adres:</p>
            <p>ul. x 21-040 Świdnik</p>
        </div>
        <div class="footer-contact">
            <p>E-mail:</p>
            <p>info@mail.com</p>
        </div>
        <div class="footer-contact footer-icon">
            <p><a target="_blank" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i> Facebook </a></p>
        </div>
        <div class="footer-contact footer-icon">
            <p><a target="_blank" href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i> Twitter</a></p>
        </div>

    </div>

</footer>