<footer>
    <div class="footer-container">
        <div class="footer-contact">
            <p><i class="fa-solid fa-phone"></i> Telefon:</p>
            <p> 111 111 111</p>
        </div>
        <div class="footer-contact">
            <p><i class="fa-solid fa-house"></i> Adres:</p>
            <p>ul. Krępiecka 3 <br> Świdnik 21-040</p>
        </div>
        <div class="footer-contact">
            <p><i class="fa-solid fa-envelope"></i> E-mail:</p>
            <p>info@mail.com</p>
        </div>
        <div class="footer-contact">
            <p><a target="_blank" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i> Facebook </a></p>
        </div>
        <div class="footer-contact">
            <p><a target="_blank" href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i> Twitter</a></p>
        </div>

    </div>

</footer>