{% extends "base.html" %}

{% block content %}

<!-- <div class="carousel">
    <button class="carousel__button previous" id="previous"></button>
    <div class="carousel__images">
        <img src={{url_for("static", filename="images/1.jpg")}} alt="">
        <img src={{url_for("static", filename="images/2.jpg")}} alt="">
        <img src={{url_for("static", filename="images/3.jpg")}} alt="">
        <img src={{url_for("static", filename="images/4.jpg")}} alt="">
        <img src={{url_for("static", filename="images/5.jpg")}} alt="">
        <img src={{url_for("static", filename="images/6.jpg")}} alt="">
        <img src={{url_for("static", filename="images/7.jpg")}} alt="">
        <img src={{url_for("static", filename="images/8.jpg")}} alt="">
    </div>
    <button class="carousel__button next" id="next"></button>
</div> -->

<div class="slide-container">
    <span class="slider-span" id="slider-span1"></span>
    <span class="slider-span" id="slider-span2"></span>
    <span class="slider-span" id="slider-span3"></span>
    <span class="slider-span" id="slider-span4"></span>
    <span class="slider-span" id="slider-span5"></span>
    <span class="slider-span" id="slider-span6"></span>
    <span class="slider-span" id="slider-span7"></span>


    <div class="image-slider">
    <div class="slides-div" id="slide-1">
        <img src="https://source.unsplash.com/300x300/?code" alt="" class="img" id="img1">
        <a href="#slider-span1" class="button" id="button-1"></a>
    </div>
    <div class="slides-div" id="slide-2">
        <img src="https://source.unsplash.com/300x300/?code" alt="" class="img" id="img2">
        <a href="#slider-span2" class="button" id="button-2"></a>
    </div>
    <div class="slides-div" id="slide-3">
        <img src="https://source.unsplash.com/300x300/?code" alt="" class="img" id="img3">
        <a href="#slider-span3" class="button" id="button-3"></a>
    </div>
    <div class="slides-div" id="slide-4">
        <img src="https://source.unsplash.com/300x300/?code" alt="" class="img" id="img4">
        <a href="#slider-span4" class="button" id="button-4"></a>
    </div>
    <div class="slides-div" id="slide-5">
        <img src="https://source.unsplash.com/300x300/?code" alt="" class="img" id="img5">
        <a href="#slider-span5" class="button" id="button-5"></a>
    </div>
    <div class="slides-div" id="slide-6">
        <img src="https://source.unsplash.com/300x300/?code" alt="" class="img" id="img6">
        <a href="#slider-span6" class="button" id="button-6"></a>
    </div>
    <div class="slides-div" id="slide-7">
        <img src="https://source.unsplash.com/300x300/?code" alt="" class="img" id="img7">
        <a href="#slider-span7" class="button" id="button-7"></a>
    </div>

</div>

</div>

<script src={{url_for('static', filename="js/carousel.js")}}></script>
{% endblock%}

<p style="width: 300px; height: 300px; background-color: red;">zdjecie</p>
