{% extends "base.html" %}

{% block content %}
    <div class="menu">

        <div class="menu-container">

        

            <div class="menu-filter">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="menu-search" type="text">
            </div>
            <div class="menu-checkbox">
                <label for="pizza-hot">Ostre</label>
                <input name="pizza-hot" type="checkbox">
                <label for="pizza-sweet">Słodkie</label>
                <input name="pizza-sweet"type="checkbox">
            </div>
            
    
            <div class="menu-list">
                <!-- <div class="menu-item">
                    <p class="pizza-id">1.</p>
                    <p class="pizza-name">Margaritta</p>
                    <p class="pizza-ingredients">Sos, ser </p>
                    <p class="pizza-size-s">18</p>
                    <p class="pizza-size-m">25</p>
                    <p class="pizza-size-l">32</p>
                    <div class="pizza-spiciness">
                        <i class="fa-solid fa-pepper-hot"></i>
                        <i class="fa-solid fa-pepper-hot"></i>
                    </div>
 
                </div>

                <div class="menu-item">
                    <p class="pizza-id">1.</p>
                    <p class="pizza-name">Margaritta</p>
                    <p class="pizza-ingredients">Sos, ser </p>
                    <p class="pizza-size-s">18</p>
                    <p class="pizza-size-m">25</p>
                    <p class="pizza-size-l">32</p>
                    <div class="pizza-spiciness">
                        <i class="fa-solid fa-pepper-hot"></i>
                        <i class="fa-solid fa-pepper-hot"></i>
                    </div>
                </div>

                <div class="menu-item">
                    <p class="pizza-id">1.</p>
                    <p class="pizza-name">Margaritta</p>
                    <p class="pizza-ingredients">Sos, ser Sos, serSos, serSos, ser</p>
                    <p class="pizza-size-s">18</p>
                    <p class="pizza-size-m">25</p>
                    <p class="pizza-size-l">32</p>
                    <div class="pizza-spiciness">
                        <i class="fa-solid fa-pepper-hot"></i>
                    </div>
                </div>

                <div class="menu-item">
                    <p class="pizza-id">1.</p>
                    <p class="pizza-name">Margaritta</p>
                    <p class="pizza-ingredients">Sos, ser </p>
                    <p class="pizza-size-s">18</p>
                    <p class="pizza-size-m">25</p>
                    <p class="pizza-size-l">32</p>
                    <div class="pizza-spiciness">
                        <i class="fa-solid fa-pepper-hot"></i>
                        <i class="fa-solid fa-pepper-hot"></i>
                        <i class="fa-solid fa-pepper-hot"></i>

                    </div>
                </div>


                <div class="menu-item">
                    <p class="pizza-id">1.</p>
                    <p class="pizza-name">Margaritta</p>
                    <p class="pizza-ingredients">Sos, ser </p>
                    <p class="pizza-size-s">18</p>
                    <p class="pizza-size-m">25</p>
                    <p class="pizza-size-l">32</p>
                    <div class="pizza-spiciness">
                        <i class="fa-solid fa-pepper-hot"></i>
                        <i class="fa-solid fa-pepper-hot"></i>
                        <i class="fa-solid fa-pepper-hot"></i>

                    </div>
                </div> -->
        
            </div>
            
        </div>


    </div>
    <script type="text/javascript">
        let data = JSON.parse({{ jsonfile | safe }});
        console.log(typeof(data))
        console.log(data);
        data = Array(data.menu)[0]
        console.log(data);
        const menuList = document.querySelector(".menu-list")

        data.forEach(item => {
            const elem = document.createElement("div")
            elem.classList.add("menu-item")
            
            const elemId = document.createElement("p")
            elemId.textContent = item.id
            elemId.classList.add("pizza-id")

            const elemName = document.createElement("p")
            elemName.textContent = item.name
            elemName.classList.add("pizza-name")

            const elemIngredients = document.createElement("p")
            elemIngredients.textContent = item.ingredients.join(", ")
            elemIngredients.classList.add("pizza-ingredients")

            const elemPriceS = document.createElement("p")
            elemPriceS.textContent = item.priceSmallSize
            elemPriceS.classList.add("pizza-size-s")

            const elemPriceM = document.createElement("p")
            elemPriceM.textContent = item.priceMediumSize
            elemPriceM.classList.add("pizza-size-m")

            const elemPriceL = document.createElement("p")
            elemPriceL.textContent = item.priceLargeSize
            elemPriceL.classList.add("pizza-size-l")

            const elemSpiciness = document.createElement("div")
            elemSpiciness.classList.add("pizza-spiciness")

            for(let i=0; i < item.spiciness; i++){
                const elemSpicinessIcon = document.createElement("i")
                elemSpicinessIcon.classList = ("fa-solid fa-pepper-hot")
                elemSpiciness.appendChild(elemSpicinessIcon)
            }

            elem.appendChild(elemId)
            elem.appendChild(elemName)
            elem.appendChild(elemIngredients)
            elem.appendChild(elemPriceS)
            elem.appendChild(elemPriceM)
            elem.appendChild(elemPriceL)
            elem.appendChild(elemSpiciness)

            menuList.appendChild(elem)


        })

        </script>
{% endblock %}