<nav class="navigation">
    <img class="nav-img" src="" alt="Logo">
    <ul class="nav-links">
        <li class="nav-elem"><a  href={{url_for("index")}}> Strona główna</a></li>
        <li  class="nav-elem"><a  href={{url_for("menu")}}>Menu</a></li>
        <li  class="nav-elem"><a  href={{url_for("contact")}}>Kontakt</a></li>
        <li  class="nav-elem"><a  href={{url_for("gallery")}}>Galeria</a></li>
        <!-- <li  class="nav-elem"><a  href="#">Prześlij opinie</a></li> -->
        <li  class="nav-elem"><a  href="#">O nas</a></li>
    </ul>
</nav>