{% extends "base.html" %}
{% block content %}

<div class="main-img">
    <h1>Pizzeria</h1>
    <p>Najlepsza pizzeria w Świdniku</p>
    <p>Duży wybór i najwyższa jakość</p>


</div>

  
<div class="section" id="section-1">

    <div>
        <h2>O naszej restauracji.</h2>
        <p>Naszą misją jest robienie dobrej pizzy
        Oferujemy pizzę na różnych typach ciast z szerokim wyborem składników.
        Nasz lokal jest otwarty do późna. Masz możliwość zjedzenia dobrej pizzy w naszym lokalu nawet w nocy.
        Jeżeli wolisz posiedzieć w domu ze znajomymi, nie martw się! Dostawa zajmuje nam średnio 15-20 minut.</p>
    </div>

    <img src="" alt="">

</div>

<div class="section" id="section-2">

    <img src="" alt="">


    <div>
        <h2>Złóż zamówienie z dowozem</h2>
        <p>call to action</p>

        <p>Lub złóż rezerwację w lokalu</p>
        <p>call to action</p>


    </div>
    
</div>

{% endblock %}